

<div id = "input_page">
How many people do you wanna pair up?<br>
	<form method = "post" action = "pair" id = "text_box">
	    <input type ="number" min = 4 autofocus ="autofocus" id="names_to_pair" oninput="setup()">
	    <button type = "button" onclick = "add_button()">+</button>
	    <button type = "button" onclick = "minus_button()">-</button>
	    <p id = "demo"></p>
	    <input type = "submit" value = "enter">

	</form>
</div>

<script src = "/javascript/functions.js">

</script>
