<head>
<link rel = "stylesheet" href = "css/style.css">
	<header>
		Pair Generator
	</header>
	
	<ul>
		<li><a href="/">Enter your name
		</a>
		</li>
		<li><a href="/input">Generator</a></li>
	</ul>
</head>

<body>
	<%=yield%>
</body>

<footer>
<a href = http://www.minedminds.org/> mined minds site</a>
</footer>
